* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 200px;
    width: 151px;
}

input[type="text"], textarea[type="text"] {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 16px 64px 16px 8px;
}

input[type="text"]:focus, textarea[type="text"]:focus {
    outline-width: 0;
    border: 1px solid gray;
}


.wrapper>* {
    margin: 10px;
}

.blueButton {
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: rgb(0, 138, 215);
    cursor: pointer;
    font-weight: 650;
    text-decoration: none;
    font-size: 16px;
}

.successMessage {
    font-size: small;
    color: green;
}
